@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #212139;
  color: #fff;

  .container {
    display: flex;
    height: 100%;
    width: 100%;

    .title {
      font-family: "Bebas Neue", sans-serif;
      font-weight: bold;
      font-size: 4em;
      margin-top: 20px;
    }
    header {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  a {
    color: #fff;
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}
